body {
    background-image: url('../images/pexels-8moments-1323550.jpg');
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat;  
    height: 100vh;                
    margin: 0;                    
}

.main{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

h1{
    color: darkslateblue;
}

p{
    color: azure;
    font-size: 1.5rem;
}

p span{
    color: darkolivegreen;
}

.infield{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input{
    height: 3vh;
    width: 65vh;
}

.butt{
    font-weight: bold;
    font-size: 1.1rem; 
    border: 3px groove black;   
}

.butt:hover{
    color: white;
    background-color: black;
}

a{
    font-weight: bold;
    font-size: 1.5rem;
    color: dodgerblue;
}

.qrcode {
    display: block;
    margin: 20px auto;
}

@media (max-width: 750px) and (min-width: 100px) {
    .main{
        margin: 20px;
    }

    .infield{
        flex-direction: column;
    }

    .infield input{
        height: 2vh;
        width: 30vh;
    }
}

